@import "/build/css/core.css";
@import "/build/css/light.css";
@import "/build/css/dark.css";

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.dark {
  background-color: var(--dark-card-background);
}
.light {
  background-color: var(--light-card-background);
}
button {
  padding: var(--core-dimension-sm) var(--core-dimension-md);
  border-radius: var(--dark-button-border-radius);
  border: none;
  font: var(--dark-typography-body);
}
.dark button {
  color: var(--dark-button-primary-text);
  background-color: var(--dark-button-primary-background);
}
.dark button:active {
  background-color: var(--dark-accent-bg);
}
.light button {
  color: var(--light-button-primary-text);
  background-color: var(--light-button-primary-background);
}
.light button:active {
  background-color: var(--light-accent-bg);
}
