@import "/build/css/core.css";
@import "/build/css/light.css";
@import "/build/css/dark.css";

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  transition: background-color 300ms;
}
.dark {
  background-color: var(--dark-card-background);
}
.light {
  background-color: var(--light-card-background);
}
button {
  padding: var(--core-dimension-sm) var(--core-dimension-md);
  border-radius: var(--dark-button-border-radius);
  border: none;
  font: var(--dark-typography-body);
  transition: background-color 300ms;
}
.dark button {
  color: var(--dark-button-primary-text);
  background-color: var(--dark-button-primary-background);
}
.dark button:hover {
  background-color: var(--dark-button-primary-hover);
}
.light button {
  color: var(--light-button-primary-text);
  background-color: var(--light-button-primary-background);
}
.light button:hover {
  background-color: var(--light-button-primary-hover);
}
